---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
ContinuationIndentWidth: 4
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakStringLiterals: false
IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: AfterHash
PPIndentWidth: 2
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
QualifierAlignment: Left
ReflowComments: true
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<(assert|errno|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|string)\.h>'
    Priority: 1
  - Regex: '^<(sys|netinet|arpa|linux|pthread)'
    Priority: 2
  - Regex: '^<liburing\.h>'
    Priority: 3
  - Regex: '^<weft/'
    Priority: 4
  - Regex: '^"weft/'
    Priority: 4
  - Regex: '^"(internal|config)\.h"'
    Priority: 5
  - Regex: '.*'
    Priority: 6