**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
env.bat
env.ps1
build/
cmake-build-*/
compile_commands.json
.cache/
.ccls-cache/
*.o
*.a
*.so
*.so.*
*.gcda
*.gcno
*.profraw
perf.data*
callgrind.out.*
core
core.*
vgcore.*
.vscode/
.idea/
*.swp
ROADMAP.md
